{% render 'partials/head.liquid' %}
{% render 'partials/header.liquid' %}

<main>

  <section class="main-image">
    <img
      class="primary-image"
      src="https://fdnd-agency.directus.app/assets/{{ house.poster_image.id }}?width=1400"
      alt="{{ house.street }}"
    >

    {% for image in house.gallery limit:4 %}
      <img
        class="secondary-image"
        src="https://fdnd-agency.directus.app/assets/{{ image.directus_files_id }}?width=900"
        alt="Foto van {{ house.street }}"
      >
    {% endfor %}

    <div class="gallery-actions">
      <button type="button" class="share-button">
        Delen
      </button>

      <form action="/favorieten/{{ house.id }}" method="POST">
        <button type="submit" class="favorite-button">
          ♥ Bewaar
        </button>
      </form>
    </div>
  </section>

  <nav class="media-options">
    <ul>
      <li>
        <a href="#">
          <span class="media-icon">▣</span>
          <span>Foto's</span>
          <small>77</small>
        </a>
      </li>

      <li>
        <a href="#">
          <span class="media-icon">▱</span>
          <span>Plattegrond</span>
          <small>7</small>
        </a>
      </li>

      <li>
        <a href="#">
          <span class="media-icon">▷</span>
          <span>Video</span>
        </a>
      </li>

      <li>
        <a href="#">
          <span class="media-icon">▦</span>
          <span>Alle media</span>
        </a>
      </li>
    </ul>
  </nav>

  <section class="main-info">
    <span class="new">Nieuw</span>

    <h1>{{ house.street }} {{ house.house_nr }}{{ house.nr_addition }}</h1>

    <div class="zip-code-wrapper">
      <p class="zip-code">{{ house.postal_code }} {{ house.city }}</p>
      <a href="#">{{ house.city }} Plassengebied</a>
    </div>

    <p class="price">€ {{ house.price }} k.k.</p>

    <dl class="main-info-list">
      <div>
        <dt>Wonen</dt>
        <dd>{{ house.m2 }} m²</dd>
      </div>

      <div>
        <dt>Perceel</dt>
        <dd>{{ house.m2_garden }} m²</dd>
      </div>

      <div>
        <dt>Kamers</dt>
        <dd>{{ house.rooms }}</dd>
      </div>
    </dl>
  </section>

  <section class="description">
    <h2>Omschrijving</h2>

    <div class="description-text">
      {{ house.description }}
    </div>

    <a href="#" class="read-more">Lees de volledige omschrijving</a>
  </section>

  <section class="features">
    <h2>Kenmerken</h2>

    <section>
      <h3>Overdracht</h3>
      <dl>
        <dt>Vraagprijs</dt>
        <dd>€ {{ house.price }} kosten koper</dd>

        <dt>Status</dt>
        <dd>Beschikbaar</dd>

        <dt>Aanvaarding</dt>
        <dd>In overleg</dd>
      </dl>
    </section>

    <section>
      <h3>Bouw</h3>
      <dl>
        <dt>Soort woning</dt>
        <dd>Appartement</dd>

        <dt>Soort bouw</dt>
        <dd>Bestaande bouw</dd>
      </dl>
    </section>

    <section>
      <h3>Oppervlakten en inhoud</h3>
      <dl>
        <dt>Wonen</dt>
        <dd>{{ house.m2 }} m²</dd>

        <dt>Perceel</dt>
        <dd>{{ house.m2_garden }} m²</dd>
      </dl>
    </section>

    <section>
      <h3>Indeling</h3>
      <dl>
        <dt>Aantal kamers</dt>
        <dd>{{ house.rooms }} kamers</dd>
      </dl>
    </section>
  </section>

</main>

{% render 'partials/footer.liquid' %}